<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.androidhive.buffet_alone">
    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="info.androidhive.buffet_alone.app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="info.androidhive.buffet_alone.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="info.androidhive.buffet_alone.activity.AboutUsActivity"
            android:label="@string/activity_title_about_us" />
        <activity
            android:name="info.androidhive.buffet_alone.activity.PrivacyPolicyActivity"
            android:label="@string/activity_title_privacy_policy" />
        <activity
            android:name="info.androidhive.buffet_alone.activity.RegisterActivity" />
        <activity
            android:name="info.androidhive.buffet_alone.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="info.androidhive.buffet_alone.activity.CreateroomActivity" />
        <activity
            android:name="info.androidhive.buffet_alone.activity.RoomDetail" />
        <activity
            android:name="info.androidhive.buffet_alone.activity.TEST" />
        <activity
            android:name="info.androidhive.buffet_alone.activity.ShowlistCosumer">

        </activity>
    </application>

</manifest>